> # CST1510 Programming for data communication and networks
> # Week 1 Lab – Python Foundations
<hr style="border:2px solid gray">

This session introduces Python’s core building blocks: variables, data types, and input/output operations. These fundamentals support all later work in this module.

---

## Topics
- Variables and data types (`int`, `float`, `str`, `bool`)
- Input (`input()`) and output (`print()`), single/double quotes and escape sequences
- Comments and basic Python syntax (PEP8 naming)
- Numeric and augmented assignment operators
- Built-in functions (`type`, `len`, `round`, `min`, `max`, `sum`)
- Importing simple built-in modules

---

## Lab Structure
Tasks are grouped by difficulty:
- **Threshold** – essential skills
- **Typical** – applied tasks
- **Excellent** – extended challenges
- **Stretch (Optional)** – enrichment problems

At the end, select 1–2 tasks for your portfolio.

## Problem-Solving & Pseudocode (Brief)

1. **Inputs/Outputs** – identify required inputs (types/units) and desired outputs (format/precision).
2. **Steps** – list actions in order: read → convert → compute → display.
3. **Translate** – convert each step to code with clear variable names and f-strings.
4. **Test** – try typical and edge values; verify units and formatting.

**Worked example – Rectangle calculator**

- Inputs: width, height (numbers)  
- Outputs: area and perimeter (2 d.p.)

```python
width = float(input("Width: "))
height = float(input("Height: "))
area = width * height
perimeter = 2 * (width + height)
print(f"Area = {area:.2f}")
print(f"Perimeter = {perimeter:.2f}")
```

# Threshold Tasks

### Threshold 1. Questionnaire

Write a program that asks for name, interest, nationality, course, and programming experience, then prints a formatted summary using escape sequences (`\n`, `\t`).

**Example Output:**
```
User Information:
	Name: Alice
	Interest: Security
	Nationality: UK
	Course: Cyber
	Experience: Beginner
```

In [ ]:
#NAME:Paarth Baphna
#MISIS:M01095290


#Asking user for inputs
Name= input("Please Enter Your Name Here")
Intrest= input("Please Enter Your Main Interst")
Nationality =input("Please Enter Your Nationality")
Course =input("Please Enter Your Course")
Experience =input("Please Enter Your Programming Experience   eg.(Beginner,Intermediate,Advanced):")

#Printing Formatted Summary
print("\n\t---User Summary---")
print(f"\t Name: {Name}")
print(f"\t Intrest: {Intrest}")
print(f"\t Nationality: {Nationality}")
print(f"\t Course: {Course}")
print(f"\t Experience: {Experience}")

Please Enter Your Name Here Alice
Please Enter Your Main Interst Security
Please Enter Your Nationality UK
Please Enter Your Course Cyber
Please Enter Your Programming Experience   eg.(Beginner,Intermediate,Advanced): Beginner

	---User Summary---
	 Name: Alice
	 Intrest: Security
	 Nationality: UK
	 Course: Cyber
	 Experience: Beginner

### Threshold 2. Rectangle Area & Perimeter

Calculate and print the area and perimeter of a rectangle using fixed values: width = 4.5 and height = 7.9.
Formulas: `area = width * height`, `perimeter = 2 * (width + height)`.

**Example Output:**
```
Area = 35.55
Perimeter = 24.80
```

In [ ]:
#NAME:Paarth Baphna
#MISIS:M01095290


#Rectangle Dimentions
width = 4.5
height = 7.9

# formulas
area = width * height
perimeter = 2 * (width + height)

# formatted output
print("\n\t--- Rectangle Details ---")
print(f"\t Width: {width}")
print(f"\t Height: {height}")
print(f"\t Area: {area}")
print(f"\t Perimeter: {perimeter}\n")

	--- Rectangle Details ---
	 Width: 4.5
	 Height: 7.9
	 Area: 35.550000000000004
	 Perimeter: 24.8

### Threshold 3. Convert Pounds to Kilograms

Ask the user for a value in pounds, convert to kilograms using `1 lb = 0.454 kg`, and print the result.

**Example Output:**
```
55.5 pounds is 25.197 kilograms
```

In [ ]:
#NAME:Paarth Baphna
#MISIS:M01095290

#Asking User For Inputs
pounds=float(input("Please Enter Your Weight In Pounds:"))

#Conversions
kilograms = pounds * 0.454

#Formatted Output
print(f"\n{pounds} pounds is {kilograms:.3f} kilograms.\n")

Please Enter Your Weight In Pounds: 55.5

55.5 pounds is 25.197 kilograms.

### Threshold 4. Convert Feet to Meters

Ask the user for a value in feet, convert to meters using `1 ft = 0.305 m`, and print the result.

**Example Output:**
```
16.5 feet is 5.0325 meters
```

In [ ]:
#NAME:Paarth Baphna
#MISIS:M01095290

# Ask user for input in feet
feet = float(input("Enter value in feet: "))

# Conversion (1 foot = 0.305 meters)
meters = feet * 0.305

#Formatted Output
print(f"\n{feet} feet is {meters:.3f} meters.\n")

Enter value in feet:  16.6

16.6 feet is 5.063 meters.

### Quick Check (no code submission)
- What data type does `input()` return? Use `type(input("x"))` to verify.  
- Show one example of an escape sequence in `print()`.  
- What is the difference between `/` and `//`? Provide a one-line example for each.

# Typical Tasks

### Typical 1. Total Time to Watch a Series

Compute total viewing time (no breaks) for a series:
- 5 seasons, 10 episodes per season
- Season 1: 45 minutes 35 seconds per episode
- Seasons 2–5: 35 minutes 15 seconds per episode
Display the total as hours, minutes, and seconds.

**Example Output:**
```
Total time: 39h 30m 0s
```

In [ ]:
#NAME:Paarth Baphna
#MISIS:M01095290

# Episodes per season
episodes = 10

# Durations in seconds
season1 = 45*60 + 35     # 45 minutes 35 seconds
season2_5 = 35*60 + 15   # 35 minutes 15 seconds

# Total time in seconds
total_seconds = episodes*season1 + 4*episodes*season2_5

# Convert to h:m:s
hours = total_seconds // 3600
minutes = (total_seconds % 3600) // 60
seconds = total_seconds % 60

print(f"Total time: {hours}h {minutes}m {seconds}s")

Total time: 31h 5m 50s

### Typical 2. Savings Projection (3 Years)

Compute final savings after 3 years given:
- Save £10 every week for 3 years
- Year 1 bonus: +£20 each week
- Every 2 weeks: −£0.50 (sister)
Assume 52 weeks per year; use arithmetic and augmented assignment; no conditionals.

**Example Output:**
```
Final savings after 3 years: £4689.50
```

In [ ]:
#NAME:Paarth Baphna
#MISIS:M01095290


savings = 0
weekly_save = 10
bonus_week1 = 20
sister_deduction = 0.5

weeks_per_year = 52

# Year 1
for _ in range(weeks_per_year):
    savings += weekly_save + bonus_week1
for _ in range(0, weeks_per_year, 2):
    savings -= sister_deduction

# Year 2
for _ in range(weeks_per_year):
    savings += weekly_save
for _ in range(0, weeks_per_year, 2):
    savings -= sister_deduction

# Year 3
for _ in range(weeks_per_year):
    savings += weekly_save
for _ in range(0, weeks_per_year, 2):
    savings -= sister_deduction

print(f"Final savings after 3 years: £{savings:.2f}")

Final savings after 3 years: £2561.00

### Typical 3. Cyber: HTTP Log Composer

Ask for IP, method, path, status, and bytes, then print a single combined log line (Apache-style).

**Example Output:**
```
192.168.1.10 - "POST /auth" 401 512
```

In [ ]:
#NAME:Paarth Baphna
#MISIS:M01095290

ip = input("IP: ")
method = input("Method: ")
path = input("Path: ")
status = input("Status: ")
bytes_sent = input("Bytes: ")

print(f'{ip} - "{method} {path}" {status} {bytes_sent}')

IP:  192.168.1.10
Method:  POST
Path:  auth
Status:  401 512
Bytes:  401 512

192.168.1.10 - "POST auth" 401 512 401 512

### Typical 4. Data Science: Dataset Metadata

Ask for dataset name, rows, and columns. Print:
- dataset name in quotes
- rows and columns
- total cells (rows × columns)

**Example Output:**
```
"sales.csv"
Rows: 120
Columns: 8
Cells: 960
```

In [ ]:
#NAME:Paarth Baphna
#MISIS:M01095290

name = input("Dataset name: ")
rows = int(input("Rows: "))
cols = int(input("Columns: "))

print(f'"{name}"')
print("Rows:", rows)
print("Columns:", cols)
print("Cells:", rows * cols)

Dataset name:  sales.csv
Rows:  120
Columns:  8

"sales.csv"
Rows: 120
Columns: 8
Cells: 960

### Typical 5. IT: INI-style Config Printer

Ask for three `key=value` pairs (via separate prompts) and print them as an INI block with indentation.

**Example Output:**
```
[config]
	max_connections = 200
	timeout = 30
	region = eu-west-2
```

In [ ]:
#NAME:Paarth Baphna
#MISIS:M01095290

v1 = input("Enter max_connections: ")
v2 = input("Enter timeout: ")
v3 = input("Enter region: ")

print("[config]")
print("\tmax_connections = " + v1)
print("\ttimeout = " + v2)
print("\tregion = " + v3)

Enter max_connections:  200
Enter timeout:  30
Enter region:  eu-west-2

[config]
	max_connections = 200
	timeout = 30
	region = eu-west-2

# Excellent Tasks

### Excellent 1. Cyber: Timestamped Auth Event

Ask for a username and action (e.g., `LOGIN` or `LOGOUT`) and print a timestamped event line.

**Example Output:**
```
[2025-09-17 14:20:15] LOGIN user=alice
```


*Optional hint:* `from datetime import datetime; datetime.now().strftime(...)`

In [ ]:
#NAME:Paarth Baphna
#MISIS:M01095290

from datetime import datetime

username = input("Enter username: ")
action = input("Enter action (LOGIN/LOGOUT): ")

print(f"[{datetime.now().strftime('%Y-%m-%d %H:%M:%S')}] {action} user={username}")

Enter username:  Paarth
Enter action (LOGIN/LOGOUT):  login

[2025-10-04 12:04:44] login user=Paarth

### Excellent 2. Data Science: Mini Statistics Report

Ask for five numeric values (space-separated). Print the values, total, mean, median, and sample standard deviation.

**Example Output:**
```
Values: 80, 90, 70, 85, 75
Total = 400.00
Mean = 80.00
Median = 80.00
Std Dev = 7.91
```


*Optional hint:* `import statistics as stats`

In [ ]:
#NAME:Paarth Baphna
#MISIS:M01095290

import statistics

nums = input("Enter 5 numbers (space separated): ").split()
nums = [float(n) for n in nums]

print("Values:", ", ".join(str(int(n)) if n.is_integer() else str(n) for n in nums))
print("Total =", f"{sum(nums):.2f}")
print("Mean =", f"{statistics.mean(nums):.2f}")
print("Median =", f"{statistics.median(nums):.2f}")
print("Std Dev =", f"{statistics.stdev(nums):.2f}")

Enter 5 numbers (space separated):  80 90 70 85 75

Values: 80, 90, 70, 85, 75
Total = 400.00
Mean = 80.00
Median = 80.00
Std Dev = 7.91

### Excellent 3. IT: Path Decomposition Report

Ask for a file or directory path and print its absolute path, parent, name, stem, and suffix.

**Example Output:**
```
Absolute path: /home/user/project/service.log
Parent: /home/user/project
Name: service.log
Stem: service
Suffix: .log
```


*Optional hint:* `from pathlib import Path`

In [ ]:
#NAME:Paarth Baphna
#MISIS:M01095290

from pathlib import Path

path_str = input("Enter a file or directory path: ")
p = Path(path_str).resolve()

print("Absolute path:", p)
print("Parent:", p.parent)
print("Name:", p.name)
print("Stem:", p.stem)
print("Suffix:", p.suffix)

Enter a file or directory path:  /home/user/project/service.log

Absolute path: C:\home\user\project\service.log
Parent: C:\home\user\project
Name: service.log
Stem: service
Suffix: .log

In [ ]:
from pathlib import Path
inp = input("Enter a path: ")
p = Path(inp).expanduser().resolve()
#...

### Excellent 4. System Info Banner

Ask for a hostname and print OS and Python version as a simple banner (one value per line).

**Example Output:**
```
Host: server01
OS: Linux
Python: 3.11.5
```


*Optional hint:* `import platform; platform.system(); platform.python_version()`

In [ ]:
#NAME:Paarth Baphna
#MISIS:M01095290

import platform

host = input("Enter hostname: ")

print("Host:", host)
print("OS:", platform.system())
print("Python:", platform.python_version())

Enter hostname:  server01

Host: server01
OS: Windows
Python: 3.13.7

# Stretch

### Stretch 1. Sum of First n Integers

Ask for a positive integer `n` and compute the sum `n*(n+1)//2`. Print the result.

**Example Output:**
```
Sum of 1..10 = 55
```

In [ ]:
#NAME:Paarth Baphna
#MISIS:M01095290

n = int(input("Enter a positive integer: "))
s = n * (n + 1) // 2
print(f"Sum of 1..{n} = {s}")

Enter a positive integer:  4

Sum of 1..4 = 10

### Stretch 2. Pentagon Area

Ask for the side length `s` and compute the area: `area = 5*s**2 / (4*tan(pi/5))`. Print to 2 d.p.

**Example Output:**
```
Area = 172.05
```


*Optional hint:* `from math import tan, pi`

In [ ]:
#NAME:Paarth Baphna
#MISIS:M01095290

from math import tan, pi

s = float(input("Enter side length: "))
area = 5 * s**2 / (4 * tan(pi/5))
print(f"Area = {area:.2f}")

Enter side length:  5

Area = 43.01

### Stretch 3. Population Projection (5 Years)

Assume current population is 312032486 and 1 year = 365 days.
Rates: birth every 7s, death every 13s, immigrant every 45s.
Compute projected population for each of the next 5 years using integer division (`//`).

**Example Output:**
```
Year 1: 315,xxx,xxx
...
Year 5: ...
```


*Optional hint:* Compute yearly net change once; then add each year.

In [ ]:
#NAME:Paarth Baphna
#MISIS:M01095290

pop = 312032486
year_days = 365 * 24 * 60 * 60

births = year_days // 7
deaths = year_days // 13
immigrants = year_days // 45
net_change = births - deaths + immigrants

for i in range(1, 6):
    pop += net_change
    print(f"Year {i}: {pop:,}")

Year 1: 314,812,582
Year 2: 317,592,678
Year 3: 320,372,774
Year 4: 323,152,870
Year 5: 325,932,966

### Stretch 4. Payroll Statement

Ask for: employee name, hours worked, hourly rate, federal tax rate, state tax rate.
Print a formatted payroll slip with gross pay, each deduction, and net pay (2 d.p.).

**Example Output:**
```
Employee: Smith
Gross pay: £97.50
Federal withholding: £19.50
State withholding: £8.78
Net pay: £69.22
```

In [ ]:
#NAME:Paarth Baphna
#MISIS:M01095290

name = input("Enter employee name: ")
hours = float(input("Enter hours worked: "))
rate = float(input("Enter hourly rate: "))
fed_rate = float(input("Enter federal tax rate (as decimal): "))
state_rate = float(input("Enter state tax rate (as decimal): "))

gross = hours * rate
fed_tax = gross * fed_rate
state_tax = gross * state_rate
net = gross - fed_tax - state_tax

print(f"\nEmployee: {name}")
print(f"Gross pay: £{gross:.2f}")
print(f"Federal withholding: £{fed_tax:.2f}")
print(f"State withholding: £{state_tax:.2f}")
print(f"Net pay: £{net:.2f}")

Enter employee name:  Smith
Enter hours worked:  24
Enter hourly rate:  97.50
Enter federal tax rate (as decimal):  19.50
Enter state tax rate (as decimal):  8.78

Employee: Smith
Gross pay: £2340.00
Federal withholding: £45630.00
State withholding: £20545.20
Net pay: £-63835.20